{% extends 'base.html' %}
{% block contents %}
{% load staticfiles %}

<div class="PageName">생자대배달</div>
<div class="pagecontent-delivery">

{% for delivery_list in delivery_lists %}
<div id="{{forloop.counter}}" class ="hello" >
<div class="DeliveryList-Container">


    <div class="restaurantBox" style="cursor : pointer;">
        <table class="restaurant-list-Table">
            <tbody class="restaurnt-list-tbody">
                <tr class="restaurnt-list-tr">
                    <td class="restaurnt-list-td" id="td1">
                        <div>
                            <img class="delivery-photo" src="{{delivery_list.image.url}}">
                        </div>
                    </td>
                    <td class="restaurnt-list-td" id="td2">
                        <div class="restaurants-info">
                            <div class="restaurant-name">{{delivery_list.title}}</div>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

</div>
</div>


<!-- The Modal -->

<div id="{{forloop.counter}}hello" class="modal">

    <!-- Modal content -->
    <div class="modal-content">

        <!-- infobox -->
        <span class="close">&times;</span>

        <div class="modal-restaurantDelivery-info-Table">

            <div class="modal-restaurant-Name">{{delivery_list.title}}</div>

            <div class="modal-restaurant-Photo">
                <img class="delivery-photo" width = "300px" src="{{delivery_list.image.url}}">
            </div>

            <!-- <ul class="modal-restaurant-TextContainer">
                <li class="modal-delivery-Condition">세마리 이상 배달(배달조건)</li>
                <li class="modal-delivery-PaymentMethod">카드 현금 (결제수단)</li>
                <li class="modal-deliveryprice">배달료 : 6000원</li>
                <li class="modal-deliveryTime">배달시간 : 40~50분</li>
                
            </ul> -->

        </div>

        <div class="foralign">
        <!-- menubox -->
            <div class="modal-restaurant-MenuContainer">
                {{delivery_list.text|safe}}
            </div>

        </div>
    </div>

    

</div>
{% endfor %}

</div>


<script>

    let span1;
        
        
    window.onload = function(){
        

        const num = document.getElementsByClassName("hello").length;
        

        for(let i=1; i<=num; i++) {
            


            let btn = document.getElementById(i);
            let modal = document.getElementById(i+"hello");
            let span = document.getElementsByClassName("close")[0];

            
            
            span1 = span;
            
            btn.onclick = function(){
                modal.style.display = "block";
            };


    };    


    span1.onclick = function(){
            
        for(i=1; i<num; i++){
            
            let modal1 = document.getElementById(i+"hello");
            
            console.log(modal1)
            modal1.style.display = "none";   
        }
    };

    window.onclick = function(event) {

        for(i=1; i<num+1; i++){
            let modal1 = document.getElementById(i+"hello");
            
            if (event.target == modal1) {
                modal1.style.display = "none";
            }
        }

    };
        
    };


</script>

{% endblock contents %}