<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
        body {
            font-family: 'Noto Sans KR', sans-serif;
            background-color : white;
            margin : 20% 42%;
        }
        input{
            margin-left:24%;
        }
    </style>
</head>
<body>
        
    <form method="post">
        {% csrf_token %}
        <p> "{{ object }}" 를 정말 지우실껀가요?</p>
        <input type="submit" value="Confirm">
    </form>
</body>
</html>
