{% extends 'base.html' %}
{% block contents %}
{% load staticfiles %}
<style>
    body{
        margin-top: 5%;
    }
    .sub{
        margin-left : 65%;
    }
</style>

    
    <form action="{% url 'free_post'%}" method="POST" enctype="multipart/form-data">
        
        {{ free_form.media }}     
        {{ free_form.as_p|safe }}

        {% csrf_token %}
    
        
        <input class ="sub" type="submit" value="글쓰기">
    </form> 
        


{% endblock contents %}
