<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MobileTest1</title>
    <link rel="stylesheet" href="test1.css">
</head>
<body>
    <header>
        <div class="Logo">SPNU</div>
        <div class="UserMail">ppllhm@gmail.com</div>
    </header>
    <nav>
        <div class="nav-head"></div>
        <div class="nav-content">
            <div class="nav-icon">공지게시판</div>
            <div class="nav-icon">자유게시판</div>
            <div class="nav-icon">S-album</div>
            <div class="nav-icon">S-배달</div>
        </div>
    </nav>
    <div class="content">
        <div class="PageName">공지게시판</div>
        <div class="PageContent"></div>
    </div>
    <footer></footer>
    
</body>
</html>