{% extends 'base.html' %}
{% block contents %}
{% load staticfiles %}
<style>
    body{
        margin-top: 5%;
       
    }
    form {
        width :100%;
        margin-bottom : 200px;
    }

    .sub{
        margin-right : 3%;
        float : right;
        position : relative;
        z-index : 4;
    }
        .testhazi1 {
            width : 100%;
            background-color : red;
        }
        .testhazi2 {
            width : 100%;
            /* background-color : blue; */
        }
        .testhazi3 {
            width : 100%;

            background-color : purple;
        }

        #cke_id_text{
            width :97% !important;
        }
</style>

    
    <form action="{% url 'notice_post'%}" method="POST" enctype="multipart/form-data">
        
        <div class="testhazi1">
            {{ notice_form.media }}     
        </div>
        <div class="testhazi2">
            {{ notice_form.as_p|safe }}
        </div>
        <div class="testhazi13">
            {% csrf_token %}
        </div>
    
        <input class ="sub" type="submit" value="글쓰기">
    </form> 
        


{% endblock contents %}
