{% extends 'base.html' %}
{% block contents %}
{% load staticfiles %}
{% load hitcount_tags %}
<script>
    window.onload = function(){
        const target1 = document.getElementById("hambuger-container");
        let notp = document.getElementById("Nav-line3-container");
        notp.onclick = function(){
            target1.style.display = "block";
        }  



        

        window.onclick = function(event) {
            if (event.target == target1) {
                target1.style.display = "none";
            }                
        }


    }
</script>

<div class="PageName">
    <span>공지게시판</span>
    <div class="notice-Icon"><img width="22px" class="noticeIconColoricons" src="{% static 'img/noticeIconColoricons.png'%}"></div>
</div>



<div class="board-content">
    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        {% for notice in notice_posts %}
        <tbody>
        <tr>
            <td class="table-number">{{notice.id}}</td>
            <td class="table-title"><a href="{%url 'notice_detail' notice.id%}">{{notice.title|safe}}</a></td>
            <td class="table-author">{{notice.author}}</td>
            <td class="table-date">{{notice.created_date}}</td>
            <td class="table-hits">{% get_hit_count for notice %}</td>
        </tr>    
        </tbody>
        {% endfor %}
    </table>
    
        {%if user.is_authenticated and user.is_staff %}
        <div class="TextPlusBtn">
        <a href="{% url 'notice_post'%}">글작성    
            
        <!-- <img class="plusbtn" src="{% static 'img/add.png'%}"> -->
        </a>
        </div>
        {% endif %}
    

    <div class="Pagenation">
        {# 페이지네이션을 통한 객체 불러오기 #}
        <br> 
    
        {% if notice_posts.has_previous %}
        <!-- <a href="?page=1">First</a> -->
        <a class="goLastPage" href="?page={{noice_posts.previous_page_number}}">Last</a>
        {% endif %}
        <b>{{notice_posts.number}}</b>
        <span>/</span>
        <small>{{notice_posts.paginator.num_pages}}</small> 
    
    
        {% if notice_posts.has_next %} 
        <a  href="?page={{notice_posts.paginator.num_pages}}"></a> 
            
           
            
        <a class="goNextPage" href="?page={{notice_posts.next_page_number}}">Next</a>
    
        {% endif %}
    </div>

</div>
 
{% endblock contents %}