@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Dokdo|East+Sea+Dokdo|Nanum+Pen+Script|Noto+Sans+JP:500,700,900|Titillium+Web:400,600,700,900&display=swap&subset=korean');
body {
    width : 100%;
    height : 100%;
    background-color: rgb(89,82,48);
    margin : 0;
    font-family: 'East Sea Dokdo', cursive;
    /* font-family: 'Dokdo', cursive; */
    /* font-family: 'Titillium Web', sans-serif; */
    /* font-family: 'Noto Sans JP', sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    /* font-family: 'Nanum Pen Script', cursive; */
}

/* top */
.Top {
    width : 100%;
    height : 80px;

}
.LogInOut{
    text-align: center;
    margin-top : 30px;
    font-weight: 550;
    width : 80px;
    height : 25px;
    /* margin-right : -10px; */
    float : right;
    /* position : fixed; */
    /* margin-left : 90%; */
    top : 0;
    font-size : 15pt;
    background-color : rgb(136, 123, 96);
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.LogInOut>a {
    text-decoration : none;
    color : black;
    /* font-family: 'Dokdo', cursive; */
}

/* main */
.Main {
    /* margin-top : 20px; */
    height : 520px;
    width : 100%;
    text-align : center;
    padding-left : 0;
    margin : 20px 0 0 0;

}
.BusandBab {
    margin-top : 10px;
    width : 100%;
    /* background : yellow;     */

}
    .main-Bus {
        display : inline-block;
        width : 100px;
        height : 25px;
        /* background : rgb(217,210,204); */
        border :2px solid rgb(235, 200, 132);

        color : rgb(195,217,201);
        font-size : 18pt;
        border-radius: 6px;
        padding-bottom: 4px;
        margin-right : 5px;
    }
    .main-Bus>a {
        text-decoration: none;
    }
    .main-Bab {
        display : inline-block;
        /* background : rgb(204,177,142); */
        border :2px solid rgb(152, 216, 213);
        /* background : rgb(212, 197, 184); */

        border-radius: 6px;
        height : 25px;
        padding-bottom: 4px;
        color : rgb(195,217,201);
        font-size : 18pt;
        margin-left : 5px;
        width : 100px;
    }
    .main-Bab>a {
        text-decoration: none;
    }
.Icon {
    width : 100%;
    text-align : center;
    height : 230px;
    margin : -5px auto;
    /* font-family: 'Dokdo', cursive; */
}
.Icons {
    width : 70%;
    float : left;
    margin-bottom : 30px;
    padding-left:  16px;
}
.Icons>a {
    text-decoration : none;
    font-weight: 100;
}
.photo {
    width : 70px;
    height : 70px;
    background-color : rgb(211, 165, 128);
    border-radius : 20rem;
    text-align : center;
    margin : 0 auto;
    vertical-align : middle;

}
.photo>img {
    width :40px;
    height : auto;
    padding-top : 10px;
}
#animal4 {
    padding : 8px;
}
#animal5 {
    padding : 20px;
}
#animal6 {
    padding-top : 23px;
    padding-right : 3px;
}

.iconsName {
    padding-top : 5px;
    width : 100%;
    height : 20%;
    text-align : center;
    font-size : 14pt;
    color : rgb(195,217,201);

}

.aa { 
    width : 320px;
    border-spacing: 0; 
    border-collapse:collapse; 
    margin:0 auto; 
    padding: 0 auto;
    text-align: center;
    margin-top : 50px;
}

#prepare1, #prepare2 {
    font-size: 1.5em;
    padding-top : 10px;
    margin-bottom : 0;
    color : white;
}


footer {

    width : 100%;
    height : 35px;
    position : fixed;
    bottom : 0px;
    margin-left : 200px;
    display :block;
    z-index: 3;
    /* background-color: white; */
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin-left: 40%;
    
}


@media (max-width : 940px){
    /* 게시판페이지 */
    footer {
        display: block;
        text-align: center;
        font-size: 1em;
        margin-left: 0%;
        
    }
}


@media (max-width : 769px) {

    footer {
        display: block;
        text-align: center;
        font-size: 1em;
        margin-left: 0%;
        
    }
}


@media (max-width : 430px) {
    footer {
        display: block;
        text-align: center;
        font-size: 1em;
        margin-left: 0%;
        
    }
}


@media (max-width : 380px) {
    footer {
        display: block;
        text-align: center;
        font-size: 1em;
        margin-left: 0%;
        display : block;
        z-index: 3;
    }


}


@media (min-width : 1000px) {
    footer {
        display: block;
        text-align: center;
        font-size: 1em;
        margin-left: 0%;
        display : block;
        z-index: 3;
    }

    .photo {
        width : 100px;
        height : 100px;
    }

    .photo>img {
        width : 70px;
    }
    .main-Logo>img {
        width : 500px;
    }
    .main-Bus {
        width : 130px;
    }
    .main-Bab {
        width : 130px;
    }
    .aa {
        width : 500px;
    }
}



