{% extends 'base.html' %}
{% block contents %}
{% load staticfiles %}
<script>
    window.onload = function(){
        const target1 = document.getElementById("hambuger-container");
        let notp = document.getElementById("Nav-line3-container");
        notp.onclick = function(){
            target1.style.display = "block";
        }  



        

        window.onclick = function(event) {
            if (event.target == target1) {
                target1.style.display = "none";
            }                
        }


    }
</script>
    <form action="{% url 'image_edit' image_detail.id %}" method="POST" enctype="multipart/form-data">
            {{edit_image_form.as_p}}
            {% csrf_token %}
        <input type="submit" value="수정완료">

    </form>

{% endblock contents %}
