<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SPNU : 부산대 생명자원과학대학 커뮤니티</title>
    
    
    <link rel="stylesheet" href="{% static 'css/test1.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/delivery.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/image.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/hambuger.css' %}" type="text/css">

</head>
<body>
    <header>
        <a href = "{% url 'index' %}"><div class="Logo"><img height="40px" src="{% static 'img/main-Logo.png'%}"></div></a>
        
 
                <div class="Nav-line3-container">
                    <div id="NavLine1"></div>
                    <div id="NavLine2"></div>
                    <div id="NavLine3"></div>

                    <div class="hambuger-container">
                        <ul class="hamnuger-nav-contents">
                            <li><a href="/notice">공지게시판</a></li>
                            <li><a href="/free">자유게시판</a></li>
                            <li><a href="/image">s-album</a></li>
                            <li><a href="/delivery">s-배달</a></li>
                        </ul>
                    
                    </div>                    

                </div>


        
    {% if user.is_authenticated %}
        <div class="Login">
            <a class="Login-In" href="{% url 'logout' %}">로그아웃</a>
    {%else%}
            <a class="Login-Out" href="{% url 'login' %}">로그인</a>
    {%endif%}
        </div>
        <div class="UserMail">{{user.email}}</div>


    </header>


    <nav>
        <div class="nav-head"></div>
        <div class="nav-content">
            <a href="{% url 'notice' %}"><div class="nav-icon">
                <span class="nav-iconName">공지게시판</span>
                <img class="noticeBlackicons" width="30px"  src="{% static 'img/noticeBlackicons.png'%}">
            </div></a>
            <a href="{% url 'free' %}"><div class="nav-icon">
                <span class="nav-iconName">자유게시판</span>
                <img class="freeBlackicons" width="30px" src="{% static 'img/freeBlackicons.png'%}">
            </div></a>
            <a href="{% url 'image' %}"><div class="nav-icon">
                <span class="nav-iconName">S-album</span>
                <img class="albumBlackicons" width="30px" src="{% static 'img/albumBlackicons.png'%}">
            </div></a>
            <a href="{% url 'delivery' %}"><div class="nav-icon">
                <span class="nav-iconName">S-배달</span>
                <img class="deliveryBlackicons" width="30px" src="{% static 'img/deliveryBlackicons.png'%}">
            </div></a>
        </div>
    </nav>
    <div class="content">
        
        <div class="PageContent">

            {% block contents %}
            <!-- 내용 Input -->
            {% endblock %}

        </div>
    </div>
    <footer>Copyright by © SPNU All rights reserved.</footer>
    
</body>
</html>

