<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>식단</title> 
    <link rel="stylesheet" href="{% static 'css/menu.css'%}" type="text/css">



    
<script>
    
window.onload = function(){
        

     var modal1 = document.getElementById('myModal1');
 
     var btn1 = document.getElementById("myBtn1");

     var span1 = document.getElementsByClassName("close1")[0];                                          

     btn1.onclick = function() {
         modal1.style.display = "block";
     }

     span1.onclick = function() {
         modal1.style.display = "none";
     }

     //=====================================================

     var modal2 = document.getElementById('myModal2');
 
     var btn2 = document.getElementById("myBtn2");

     var span2 = document.getElementsByClassName("close2")[0];                                          

     btn2.onclick = function() {
         modal2.style.display = "block";
     }

     span2.onclick = function() {
         modal2.style.display = "none";
     }

     // 모달 둘다 끄기
     window.onclick = function(event) {
         if (event.target == modal1 || event.target == modal2) {
             modal1.style.display = "none";
             modal2.style.display = "none";
         }
     }
    };
    
    </script>
    
</head>
<body>
    <div class="menucontentBox">
        <div class="menu-Logo"><img width="260px" src="{% static 'img/main-Logo.png'%}"></div>

        <div class ="content_foodmenu">
            <!-- The Modal -->
            <div id="myBtn1">
                <img width = "27px" src = "{% static 'img/menuRice.png' %}">
                <div class="dormMenu">기숙사</div>
            </div> 

            <div id="myBtn2">
                <img width = "27px" src = "{% static 'img/menuRice.png' %}">
                <div class="notdormMenu">학생회관</div>
            </div>
        </div>
    </div>

 



{% for menu in menu %}
    <div style="display :none;">{{menu.update_counter}} </div>

    <!-- The Modal -->
    <div id="myModal1" class="modal1">
 
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close1">&times;</span>                                                               
        <img src ="{{menu.dorm_menu.url}}" width="100%">
      </div>
 
    </div>


    <!-- The Modal -->
    <div id="myModal2" class="modal2">
 
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close2">&times;</span>                                                               
              <img src ="{{menu.hall_menu.url}}" width="100%">
            </div>
       
          </div>
{% endfor %}


</body>
</html>